*,
*:focus,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
button {
  font: $FontSize $FontFamily;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
