$BorderRadius: 8px;
$Padding: 40px;

$FontFamily: "Karla", sans-serif;
$FontSize: 16px;

$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);
